<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/e6a5c90285.js" crossorigin="anonymous"></script>
    
</head>
<body>

    <section id="home-section">

        <!-- Navbar -->

        <nav class="nav-bar">
            <div class="navbar-brand">
                <!-- logo -->
            </div>

            <div class="nav-menu">
                <ul class="main-list">
                    <li class="list-items">Home</li>
                    <li class="list-items">Product</li>
                    <li class="list-items">profile</li>
                    <li class="list-items" ><a href="../index.html" style="color: white;">Logout</a></li>
                </ul>
            </div>
        </nav>

        <div class="header-content">
            <h2>Welcome, <span class="username">[Paul Jean]</span></h2>
            <h3>A world of creativity</h3>
            <p>Save upto 100% of your money !</p>

            <button class="btn home-button" type="submit">Start saving</button>
        </div>



        <!-- Navbar -->
    </section>
    <div class="content-divider"></div>


    <section id="info-section">

        <div class="section-title"> Some recent product</div>

        <div class="card-product-section">

            <div class="product-intro">
                <h2>A world of olive</h2>
                <p>Lorem ipsum dolor sit, amet consectetur 
                    adipisicing elit. Voluptatum optio dolorum,
                     ullam quia earum, sit rerum veniam doloremque
                     magnam,
                     aliquam quis! Veniam vel perferendis 
                 voluptate.</p>
                 <button class="btn home-button">Explore </button>
            </div>
            <div class="product-intro">
                <div class="img-container">
                    <img src="../img/oil.jpg" class="product-image" alt="product-image">
                </div>
                
                <div class="right">

                    <h3 class="product-title">Ev charging-1</h3>
                    <p class="product-revenue">Pro Revenue: 58400FCFA</p>
                    <p class="Annual revenue">Ann Price :5000FCFA</p>
                   
                    <p class="gained">Gains :160FCFA</p>

                    <a href="#" class="product-button">Buy</a>

                </div>
            </div>
            <div class="product-intro">
                <div class="img-container">
                    <img src="../img/oil.jpg" class="product-image" alt="product-image">
                </div>
                
                <div class="right">

                    <h3 class="product-title">Ev charging-2</h3>
                    <p class="product-revenue">Pro Revenue: 237250FCFA</p>
                    <p class="Annual revenue">Ann Price :13000FCFA</p>
                 
                    <p class="gained">Gains :650FCFA</p>

                    <a href="#" class="product-button">Buy</a>

                </div>
            </div>
            <div class="product-intro">
                <div class="img-container">
                    <img src="../img/oil.jpg" class="product-image" alt="product-image">
                </div>
                
                <div class="right">

                    <h3 class="product-title">Ev charging-3</h3>
                    <p class="product-revenue">Pro Revenue: 693500FCFA</p>
                    <p class="Annual revenue">Ann Price :34200FCFA</p>
                    
                    <p class="gained">Gains :1900FCFA</p>

                    <a href="#" class="product-button">Buy</a>

                </div>
            </div>

            
            <!-- <div class="product">
                <div class="img-container">
                    <img src="../img/oil.jpg" class="product-image" alt="product-image">
                </div>
                
                <div class="right">

                    <h3 class="product-title">Ev charging-1</h3>
                    <p class="product-revenue">Pro Revenue: 58400FCFA</p>
                    <p class="Annual revenue">Ann Price :5000FCFA</p>
                    <p class="price">Price: 2000FCFA</p>
                    <p class="gained">Gains :4000FCFA</p>

                    <a href="#" class="product-button">Buy</a>

                </div>
                

            </div>
            <div class="product">
                <div class="img-container">
                    <img src="../img/oil.jpg" class="product-image" alt="product-image">
                </div>
                
                <div class="right">

                    <h3 class="product-title">Ev charging-4</h3>
                    <p class="product-revenue">Pro Revenue: 237250FCFA</p>
                    <p class="Annual revenue">Ann Price :13000FCFA</p>
                    <p class="price">Price: 650FCFA</p>
                    <p class="gained">Gains :4000FCFA</p>

                    <a href="#" class="product-button">Buy</a>

                </div>
                

            </div>
            <div class="product">
                <div class="img-container">
                    <img src="../img/oil.jpg" class="product-image" alt="product-image">
                </div>
                
                <div class="right">

                    <h3 class="product-title">Ev charging-4</h3>
                    <p class="product-revenue">Pro Revenue: 16000FCFA</p>
                    <p class="Annual revenue">Ann Price :8000FCFA</p>
                    <p class="price">Price: 2000FCFA</p>
                    <p class="gained">Gains :4000FCFA</p>

                    <a href="#" class="product-button">Buy</a>

                </div>
                

            </div> -->
            
            
            

            
    
        </div>


    </section>

    <section id="footer-section">
  
    </section>
    
</body>
</html>